@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'open sans', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ebebeb;
}

#root {
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}

.title {
  margin: 20px 0;
}

.mainChat {
  border: 5px solid #7067ec;
  border-radius: 24px;
  overflow: hidden;
}

.name {
  display: flex;
  font-size: 32px;
  font-weight: bold;
  padding: 8px 16px;
  color: #0f0e0e;
  background-color: #ebebeb;
}

.name span {
  color: #bbb;
}

.nameForm {
  display: flex;
}

.nameInput {
  font-size: 24px;
  font-weight: bold;
  color: #7e7e7e ;
  border: none;
  outline: none;
  margin: 0 12px;
  background-color: #ebebeb;
}
.conversation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}
.messageLeft, .messageRight {
  list-style: none;
  margin: 12px;
  color: #121111;
  word-wrap: break-word;
  border-radius: 16px;
  padding: 8px 12px;
}

.messageLeft {
  background-color: #ebebeb;
  align-self: flex-start;
  box-shadow: 2px 2px 5px #ebebeb;
}
.messageRight {
  background-color: #7067ec;
  align-self: flex-end;
  box-shadow: 2px 2px 5px #7067ec;
}
.messageLeft span, .messageRight span {
  font-style: italic;
  margin-top: 4px;
  font-size: 12px;
}

.message {
  margin: 5px 0;
}

.messageFeedback {
  list-style: none;
}

.feedback {
  font-style: italic;
  margin: 0;
  font-size: 14px;
  color: #2d2d2D;
  text-align: center;
}

.messageForm {
  padding: 8px 16px;
  display: flex;
  background-color: #ebebeb;
}

.messageInput {
  flex-grow: 1;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 10px 12px;
  background-color: #e6e2e2;
  border-radius: 8px;
}

.vDivider {
  width: 2px;
  height: 48px;
  background-color: #f3f0f0;
}
.sendButton {
  background-color: white;
  border: 0;
  border-radius: 8px;
}

.sendButton:hover {
  background-color: #624be4;
}

.sendButton:active {
  background-color: #624be4;
}

.sendButton:focus {
  outline: none;
}
.flex {
  display: flex;
}

.userList {
  padding: 1em 2em;
}
.userList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.userList li {
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.userList li:hover {
  background-color: #a2a2ac;
}

.userList li:active {
  color: #7067ec;
}

.userList li:focus {
  outline: none;
}

